<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF8">
    <title>Pinterest Clone</title>
</head>
<body>
    <h1>Pins Index</h1>

    {% for pin in pins %}
        <article>
            <h1>{{pin.title}}</h1>
            <p>{{pin.description}}</p>
        </article>
    {% endfor %}
</body>
</html>



<!--
{% extends 'base.html.twig' %}
{% block body %}
{{message}} 
{% endblock %}-->


